[flake8]
exclude =
    venv/,
    .venv/,
    env/,

# Ignore specific error codes if needed (e.g., E501 for line length):
# ignore = E501

max-line-length = 88  # Matches Black's default line length
